<div class="control-group">
  <%= f.label :event_name, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :event_name, class: "span5" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :time_zone, class: "control-label" %>
  <div class="controls">
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>
</div>
<div class="control-group">
  <%= f.label :start_at, class: "control-label" %>
  <div class="controls">
    <%= f.datetime_select :start_at, { use_month_numbers: true, ampm: true, minute_step: 15 }, { class: "input-small" } %>
  </div>
</div>
<div class="control-group">
  <%= f.label :end_at, class: "control-label" %>
  <div class="controls">
    <%= f.datetime_select :end_at, { use_month_numbers: true, ampm: true, minute_step: 15 }, { class: "input-small" } %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, class: "control-label" %>
  <div class="controls">
    <%= f.text_area :description, class: "span9", rows: 5 %>
  </div>
</div>
