<h1>Listing events</h1>

<%= link_to 'New Event', new_event_path, class: "btn" %>
<p>
  &nbsp;
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Scheduled Time</th>
      <th>User Time</th>
      <th>Organizer</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.event_name, event %>
        </td>
        <td>
          <% Time.use_zone(event.time_zone) do %>
            <%= l(event.start_at, format: :timez) %>
            <br />
            <%= l(event.end_at, format: :timez) %>
          <% end %>
        </td>
        <td>
          <div class="muted">
            <%= l(event.start_at.in_time_zone(current_user.time_zone), format: :timez) %>
            <br />
            <%= l(event.end_at.in_time_zone(current_user.time_zone), format: :timez) %>
          </div>
        </td>
        <td>
          <%= event.organizer.email %>
        </td>
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Show', event %>
              </li>
              <li>
                <%= link_to 'Edit', edit_event_path(event) %>
              </li>
              <li>
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Event', new_event_path, class: "btn" %>
