<% Time.use_zone(@event.time_zone) do %>
  <div class="row">
    <div class="span12">
      <p>
        <strong>Event name:</strong>
        <%= @event.event_name %>
      </p>

      <p>
        <%= l(@event.start_at.to_date, format: :timez_day_only) %>,
        <%= l(@event.start_at.to_date, format: :timez) %>
        <%= l(@event.start_at, format: :timez_time_only) %>
        -
        <%= l(@event.end_at, format: :timez) %>

        <div class="muted">
          <%= l(@event.start_at.in_time_zone(current_user.time_zone).to_date, format: :timez_day_only) %>,
          <%= l(@event.start_at.in_time_zone(current_user.time_zone).to_date, format: :timez) %>
          <%= l(@event.start_at.in_time_zone(current_user.time_zone), format: :timez_time_only) %>
          -
          <%= l(@event.end_at.in_time_zone(current_user.time_zone), format: :timez) %>
        </div>
      </p>

      <p>
        <strong>Description:</strong>
        <%= simple_format(@event.description) %>
      </p>

      <p>
        <strong>Organizer:</strong>
        <%= @event.organizer.email %>
      </p>

      <%= link_to 'Edit', edit_event_path(@event), class: "btn" %>
      <%= link_to 'Back', events_path, class: "btn" %>
    </div>
  </div>
<% end %>

<p>
  &nbsp;
</p>

<%= render partial: 'shared/update_info', locals: { record: @event } %>
