<div class="row">
  <div class="span12">
    <h1>New work schedule</h1>

    <%= form_for(@work_schedule, html: { class: "form-horizontal" }) do |f| %>
      <%= render partial: 'errors' %>
      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-actions">
        <%= f.submit "Create New Schedule", { class: "btn btn-primary" } %>
        <%= link_to 'Cancel', work_schedules_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
